body {
  font-size: 15pt;
  background-color: gray;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 20px;
}
.myName{
  font-size: 6px;
  font-weight: 400;
}
.list {
  display: flex;
}

h1 {
  text-align: center;
  font-size: 25px;
}

#button {
  background: black;
  color: whitesmoke;
}

#stepOne{
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
#stepTwo{
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
#stepThree{
  display: flex;
  gap:8px;
  margin-bottom: 8px;
}
#stepFour{
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}


.box {
  width: 140px;
  height: 140px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 15px;
  background: darkslategray;
}

.mic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  background: darkgray;
  border-radius: 50%;
  padding: 10px;
  width: 10px;
  height: 10px;
  margin: 0px;
}

.micBox {
  padding-left: 100px;
}

.pic img {
  width: 40px;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 19px;
  margin-bottom: 7px;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 15px;
}

.option {
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  gap: 17px;
  margin-left: -20px;
  margin-bottom: -25px;
}

.footBox {
  
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  background: red;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;

}

.footRounds {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  background: darkslategray;
  border-radius: 50%;
  padding: 10px;

  width: 30px;
  height: 30px;
  color: whitesmoke;
}
.footRounds:focus , .footRounds:hover {
  background: whitesmoke;
  color: darkslategray;
}